.btn {
  padding: 6px 12px;
  margin: 5px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.row {
  border: solid 1px #dddddd;
  margin: 10px;
  border-radius: 5px;
}

ul li {
  list-style: none;
}
